
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


@keyframes bouncingOut{
  0% {transform:scale(1.0);}
  50% {transform:scale(1.05);}
  100% {transform:scale(1.0);}
}

@keyframes bouncingOut1{
  0% {transform:scale(1.0);}
  50% {transform:scale(1.3);}
  100% {transform:scale(1.0);}
}
