
#app .list-group-item{
  width: 275px;
  float: left;
  height: 250px;
  /* margin-right: 4px; */
  border: 0;
  outline: 1px solid #ddd;
  margin: 5px;
}
#app li.list-group-item {
  &:hover {
    background-color: #F38630;
  }
  a {
    color: #000;
  }
}
#app .list-group-item-success {
  color: #ffffff;
  background-color: #FA6900;
  animation-name: bouncingOut;
  animation-duration: 0.3s;
}

#app .nav-tabs {
  font-size: 26px;

}
#app .nav-tabs > li > a {
  padding-left: 30px;
  padding-right: 30px;
}


#app .list-group-item .star{
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #FFF;
    transform: scale(1.05);
  }
}

#app .list-group-item .check{
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 6px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    color: #FFF;
    transform: scale(1.05);
  }
}
