.navbar-brand{
  font-size: 40px;
}
.navbar-header, .navbar-collapse{
}
.navbar-nav {
  font-size: 24px;
}

.badge {
  position: absolute;
  font-size: 16px;
  background-color: #FF1F1F;
  animation-name: bouncingOut3;
  animation-duration: 0.3s;
}


.popover {
  max-width: none;
}

.well-lg {
  font-size: 25px;
}
