.preview-bundle {
  width: 360px;
  min-width: 360px;
  color: #FFF;
  min-height: 800px;
  background-color: #000;
  overflow-x: hidden;
  max-height: 1000px;
  overflow-y: scroll;
  top: -140px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);

  .operator {
    background-color: #0c5077;
    padding: 4px 10px;
    height: 30px;

    .fa {
      margin-left: 5px;
    }
  }
  .header {
    background-color: #0e5e8c;
    padding: 4px 10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
    height: 50px;
    .text {
      padding-left: 10px;
    }
    .toolbar {
      i {
        margin-left: 22px;
      }
    }
  }
  .section0 {
    outline: 5px solid #FFF;
    height: 360px;
    position: relative;
    //background-image: url(http://placekitten.com/g/360/360);
    background-size: cover;

    .type{
      font-size: 30px;
      padding-left: 10px;
    }
    .date {
      font-size: 15px;
      padding-left: 10px;
    }
    .footer-wrapper {
      position: absolute;
      bottom: 0px;
      padding-left: 10px;
      margin-bottom: 10px;
      .news-title {
        font-size: 25px;
        line-height: 25px;
      }
      .news-subtitle {
        font-size: 15px;
      }
    }
  }

  .section1 {
    outline: 5px solid #FFF;
    height: 180px;
    width: 180px;
    display: inline-block;
    position: relative;
    background-image: url(http://placekitten.com/g/180/180);

    .footer-wrapper {
      position: absolute;
      bottom: 0px;
      padding-left: 10px;
      margin-bottom: 10px;
      .news-title {
        font-size: 20px;
        line-height: 20px;
      }
      .news-subtitle {
        font-size: 15px;
      }
    }
  }

  a {
    color: #FFF;
    text-shadow: 1px 1px #000;
    &:hover {
      color: #FFF;
    }
  }
}

.no-detail {
  margin-top: 100px;
  height: 200px;
  webkit-align-items: center;
  align-items: center;
  webkit-justify-content: center;
  justify-content: center;
}
.no-data {
  font-size: 60px;
}
