
.pure-table {
  thead th i {
    font-size: 12px;
    margin-left: 5px;
    &:hover {
      //color: grey;
      transform: scale(1.3);
    }
  }
  tr.selected {
    background-color: rgb(56, 56, 56) !important;
    color: #FFF;
  }
  tr {
    cursor: pointer;
  }


  th .fa-sort-asc, th .fa-sort-desc {
    font-size: 18px;
    color: red;
    position: relative;
  }
  .fa-sort-asc {
    top: 5px;
  }
  .fa-sort-desc {
    top: -3px;
  }
}
