

<div class="navbar-default navbar-collapse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Prism Bundle Admin Tool</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div id="user">
      </div>
    </div>
  </div>
</div>
