@import "themes/cosmo/bootstrap";
@import "base/mixins";
@import "base/animation";
@import "base/react-calendar";
@import "base/react-select";
@import "base/react-calendar";

$font_family: "Open Sans", sans-serif;

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 84px;
  -webkit-font-smoothing: antialiased;
}

.fruit-selection {
  width: auto;
}

.popover {
  max-width: none;
}
.form-group {
  margin-left: 10px;
}

.spinner {
  width: 68px;
  margin: auto;
}


.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 11px sans-serif;
  fill: #000;
  stroke: none;
  font-weight: bold;
}

.axis line {
  stroke: #ccc;
}

.axis path {
  stroke: #ccc;
}

.bar:hover {
  fill: #E55;
}

.dot:hover {
  fill: #E55;
}

.area:hover {
  fill: #E55;
}

.line {
  padding: 10px;
}

.line:hover {
  stroke: #E55;
}

.arc path:hover {
  fill: #E55;
}

.arc text {
  font: 11px sans-serif;
  fill: #000;
  stroke: none;
  font-weight: bold;
}

.tooltip {
  padding: 3px;
  border: 2px solid;
  border-radius: 4px;
  background-color: #eee;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .background {
  fill: #ddd;
}
