{#
  Swig Templating!
  Docs: http://paularmstrong.github.io/swig/docs/
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div id="app"></div>
{% endblock %}


{% block javascript %}
<script src="assets/javascripts/index.js"></script>
{% endblock %}
